*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

html{
  font-size:62.5%;
}

body{

  background-color: #F4F2EE;
}

nav{
  
  width:100%;
  height:60px;
  margin-bottom: 21px;
  display: flex;
  padding: 0px 10%;
  position: fixed;
  border-bottom: 1px solid rgba(128, 128, 128, 0.323);
  background-color: white;
}

.nav-left
{

 width:20%;
 height:100%;
 display: flex;
 align-items: center;
 gap:10px;
 justify-content:start;

}

.nav-left img
{
 width:32px;
 border-radius: 2px;
}

.nav-left .input-div
{
 border:none;
 height:30px;
 border-radius: 2px;
 width:500px; 
 position: relative;
}

.input-div input
{
 border:none;
 height:30px;
 border-radius: 2px;
 width:100%;
 padding-left:30px;
 background-color:#edf3f8; 
}

.input-div i
{
 position:absolute;
 font-size: 15px;
 top:25%;
 left:2%;
 
}

.nav-center
{
 width:60%;
 height:100%;
 display: flex;
 align-items: center;
 gap: 40px;
 justify-content: center;
 padding-right: 20px;
 padding-left: 20px;
 border-right: 1px solid rgba(128, 128, 128, 0.323);
}

.nav-box{
  font-size:14px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

.nav-box:hover,.nav-box:hover i{
 color:black;
}

.nav-box i{
  font-size:20px;
  color: gray;
}

.nav-box img{
  width: 25px;
  border-radius:50%;
}

.nav-right
{
 align-items: center;
 justify-content: space-around;
 font-size:14px;
 width:20%;
 height:100%;
 display: flex;
}

.nav-right-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right-left i{
  font-size: 20px;
}

.container
{ 
width: 1200px;
min-height:580px;
display:grid;
grid-template-rows: 100px 210px minmax(140px,1fr);
grid-template-columns: 22% 46% 27%;
gap:10px 30px;
margin: 0px 10%;
padding-top: 90px;
}

.box{
  background-color: white; 
  border: 1px solid rgba(0, 0, 0, 0.216);
  font-size: 20px;
  border-radius: 10px;
}

.box1{
  grid-row:1/3;
  z-index: -10;
}

.box1-abs{
  overflow: hidden;
  width:262px;
  height:50px;
  background-color: blue;
  z-index: -1;
  position:absolute;
  border-radius: 10px 10px 0px 0px;
}

.box1-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:12px;
  height: 50%;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.323);
  gap:20px;
}

.box1-name img{
  width:78px;
  border-radius: 50%;
  border: 2px solid white;
}

.name-in
{
  text-align: center;
}

.name-in p
{
  color: gray;
}

.name-in h2
{
  padding-bottom: 5px;
}

.box1-connection{
padding: 10px;
display: flex;
font-size: 13px;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid rgba(128, 128, 128, 0.323); ;
}

.box1-upgrade{
  font-size:13px;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.323); 
}

.box1-top p{
color:#212121b9
}

.box1-bottom{
  display: flex;
  align-items: center;
  gap:5px;
  font-weight: 600;
}
.bottom-yellow
{
  width:12px;
  height:12px;
  background-color: rgb(164, 131, 22);
}

.box1-items{
  font-size: 13px;
  display: flex;
  align-items: centre;
  gap:10px;
  padding: 10px 10px;
}

.box1-items p
{
font-weight: 600;
}

.box2-top{
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.box2-top-left img{
width:40px;
border-radius: 20px;

}

.box2-top-right input{
  padding: 10px;
  width: 450px;
  height:45px ;
  border-radius: 20px;
  border: 1px solid gray;
}

.box2-bottom{
  padding: 0px 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:100px;
}

.box2-bottom-left{
  gap:10px;
  display: flex;
  align-items: center;
}

.box2-bottom-center{
  gap:10px;
  display: flex;
  align-items: center;
}

.box2-bottom-right{
  gap:10px;
  display: flex;
  align-items: center;
}


.box3{
  grid-column:3;
  grid-row:1/3;
  padding:13px;
  font-size:17px;
}

.box3-box{
  padding:13px;
}
.box3-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:15px;
}

.box3-top p{
  font-weight:600;
}

.box3-top img{
  width:14px;
  height:14px;
}

.box3-account{
   display: flex;
   padding: 5px 0px;
   gap:20px;
}

.box3-account-left img{
  width:60px;
  border-radius: 50%;

}

.box3-account-right{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap:6px;
}

.box3-account-right p{
  font-weight: 700;
}

.box3-account-right span{
  color:grey;
}

.box3-account button{
  background-color: transparent;
  border: 1px solid black;
  width: 90px;
  height:30px;
  border-radius:10px;
  font-size: 15px;
}

.box3-bottom{
  color:gray;
  display: flex;
  align-items: center;
  gap:10px;
}
.box4{
   grid-row:2/4;
   height:2790px;
}


.box5{
   top:40px;
   position: sticky;
   height:150px;
   font-size: 13px;
   padding:10px;
}


.box5-top
{
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid rgba(128, 128, 128, 0.323); 
padding-bottom: 10px;
}

.box5-left
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box5-left a{
  text-decoration: none;
  font-weight: 600;
}

.box5-right{
  font-size: 25px;
}


.box5-bottom{
  height:30%;
  justify-content: center;
  display: flex;
  padding: 20px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: gray;
}
.box6{
  height:430px;
  position: sticky;
  top:40px;
  border:none;
  background-color: #F4F2EE;
}

.box6-top img{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border:1px solid rgba(128, 128, 128, 0.323);
}

.box6-bottom{
  width:100%;
  font-size:13px;
  padding: 30px;
  text-align:center;
}

.box6-bottom a{
  margin:0px 10px;
  color: gray;
  text-decoration:none;
}

.box6-copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 10px;
}

.box6-copyright img{
width:50px;
}

.post{
  width:100%;
  border:1px solid rgba(0, 0, 0, 0.263);
  margin-bottom:12px;
  border-radius: 10px;
  overflow:hidden;
}

.one
{
   height:850px;
}

.two
{
   height:710px;
}

.three
{
   height:470px;
}

.post four
{
   height:780px;
}


.postone-top
{

  padding:15px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-items: end;
  gap:280px;
}

.postone-top-right
{
  display: flex;
  align-items:center;
}

.postone-top-left
{ 
  width:200px;
  gap:10px;
  display: flex;
  align-items: center;
}

.postone-top-left img
{
  width:50px;
}

.postone-top-left-section
{
  font-size: 13px;
  flex-direction:column;
}

.postone-top-left-section h1
{
  font-size: 10px;
}

.postone-middle{
  padding:15px 15px 0px 15px;
  font-size: 13px;
}

.postone-end img{
  width:100%;
  padding:15px 15px 0px 15px;
  padding:15px;
}


.posttwo-top
{

  padding:15px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-items: end;
  gap:280px;
}

.posttwo-top-right
{
  display: flex;
  align-items: center;
}

.posttwo-top-left
{ 
  width:200px;
  gap:10px;
  display: flex;
  align-items: center;
}

.posttwo-top-left img
{
  width:50px;
}

.posttwo-top-left-section
{
  font-size: 13px;
  flex-direction: column;
}

.posttwo-top-left-section h1
{
  font-size: 10px;
}

.posttwo-middle{
  padding:15px 15px 0px 15px;
  font-size: 13px;
}

.posttwo-end img{
  width:100%;
  padding:15px 15px 0px 15px;
  padding:15px;
}

.postthree-top
{

  padding:15px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-items: end;
  gap:280px;
}

.postthree-top-right
{
  display: flex;
  align-items: center;
}

.postthree-top-left
{ 
  width:200px;
  gap:10px;
  display: flex;
  align-items: center;
}

.postthree-top-left img
{
  width:50px;
}

.postthree-top-left-section
{
  font-size: 13px;
  flex-direction: column;
}

.postthree-top-left-section h1
{
  font-size: 10px;
}

.postthree-middle{
  padding:15px 15px 0px 15px;
  font-size: 13px;
}

.postthree-end img{
  width:100%;
  padding:15px 15px 0px 15px;
  padding:15px;
}


.postfour-top
{

  padding:15px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-items: end;
  gap:280px;
}

.postfour-top-right
{
  display: flex;
  align-items: center;
}

.postfour-top-left
{ 
  width:200px;
  gap:10px;
  display: flex;
  align-items: center;
}

.postfour-top-left img
{
  width:50px;
}

.postfour-top-left-section
{
  font-size: 13px;
  flex-direction: column;
}

.postfour-top-left-section h1
{
  font-size: 10px;
}

.postfour-middle{
  padding:15px 15px 0px 15px;
  font-size: 13px;
}

.postfour-end img{
  width:100%;
  padding:15px 15px 0px 15px;
  padding:15px;
}

